<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card Collection</title>
    <link rel="stylesheet" href="styles/collection.css">
</head>
<body>
    <main>
        <div class="card_table">
            <div class="card">
                <img src="https://comicvine1.cbsistatic.com/uploads/scale_small/5/52246/6959505-y7xf100uhyn11.jpg">
                <span class="name">Spider-Man</span>
                <div class="between">
                    <div>
                        <span class="stats">Damage:</span>
                        <span class="stats">Health:</span>
                    </div>
                    <div>
                        <span class="damage">190</span>
                        <span class="health">220</span>
                    </div>
                </div>
                <span class="cost">Cost: 3</span>
                <span class="descrition">Peter Parker was bitten by a radioactive spider as a teenager, granting him spider-like powers. After the death of his Uncle Ben, Peter learned that "with great power, comes great responsibility." Swearing to always protect the innocent from harm, Peter Parker became Spider-Man.</span>
            </div>
            <div class="card">
                <img src="https://comicvine1.cbsistatic.com/uploads/scale_small/11118/111187046/7397359-0398898002-EQH1ysWWsAA7QLf">
                <span class="name">Daredevil</span>
                <div class="between">
                    <div>
                        <span class="stats">Damage:</span>
                        <span class="stats">Health:</span>
                    </div>
                    <div>
                        <span class="damage">110</span>
                        <span class="health">220</span>
                    </div>
                </div>
                <span class="cost">Cost: 2</span>
                <span class="descrition">As a child, Matt Murdock was blinded by radioactive waste while trying to save an elderly stranger about to get hit by a truck carrying the dangerous material. In turn, his other senses were heightened to superhuman sharpness and he gained a form of "radar sense". By day, he is a successful trial lawyer; but by night, he guards Hell's Kitchen as Daredevil: the Man Without Fear.</span>
            </div>
            <div class="card">
                <img src="https://comicvine1.cbsistatic.com/uploads/scale_small/5/57023/7469590-wolverinerb.jpg">
                <span class="name">Wolverine</span>
                <div class="between">
                    <div>
                        <span class="stats">Damage:</span>
                        <span class="stats">Health:</span>
                    </div>
                    <div>
                        <span class="damage">130</span>
                        <span class="health">280</span>
                    </div>
                </div>
                <span class="cost">Cost: 3</span>
                <span class="descrition">A long-lived mutant with the rage of a beast and the soul of a Samurai, James "Logan" Howlett's once mysterious past is filled with blood, war and betrayal. Possessing an accelerated healing factor, keenly enhanced senses and bone claws in each hand (along with his skeleton) that are coated in adamantium; Wolverine is, without question, the ultimate weapon.</span>
            </div>
            <div class="card">
                <img src="https://comicvine1.cbsistatic.com/uploads/scale_small/11139/111399535/7551809-img_202009248_1046.jpg">
                <span class="name">Thor</span>
                <div class="between">
                    <div>
                        <span class="stats">Damage:</span>
                        <span class="stats">Health:</span>
                    </div>
                    <div>
                        <span class="damage">240</span>
                        <span class="health">260</span>
                    </div>
                </div>
                <span class="cost">Cost: 4</span>
                <span class="descrition">Thor Odinson is the All-father of Asgard /God of Thunder, offspring of All-Father Odin & the Elder Earth-Goddess Gaea. Combining the powers of both realms makes him an elder-god hybrid and a being of limitless potential. Armed with his enchanted Uru hammer Mjolnir which helps him to channel his godly energies. The mightiest and the most beloved warrior in all of Asgard, a staunch ally for good and one of the most powerful beings in the multiverse/omniverse. Thor is also a founding member of the Avengers.</span>
            </div>
            <div class="card">
                <img src="https://comicvine1.cbsistatic.com/uploads/scale_small/11118/111187046/7560188-0157851318-EeSKH3CWkAAiO2j.jpg">
                <span class="name">Iron Man</span>
                <div class="between">
                    <div>
                        <span class="stats">Damage:</span>
                        <span class="stats">Health:</span>
                    </div>
                    <div>
                        <span class="damage">220</span>
                        <span class="health">280</span>
                    </div>
                </div>
                <span class="cost">Cost: 4</span>
                <span class="descrition">Tony Stark was the arrogant son of wealthy, weapon manufacturer Howard Stark. Tony cared only about himself, but he would have a change of heart after he was kidnapped by terrorists and gravely injured. Pressured to create a weapon of mass destruction, Stark instead created a suit of armor powerful enough for him to escape. Tony uses his vast resources and intellect to make the world a better place as The Invincible Iron Man. Stark's super hero identity led him to become a founding member of the Avengers.</span>
            </div>
            <div class="card">
                <img src="https://comicvine1.cbsistatic.com/uploads/scale_small/12/124259/7892286-immortal_hulk_vol_1_38_.jpg">
                <span class="name">Hulk</span>
                <div class="between">
                    <div>
                        <span class="stats">Damage:</span>
                        <span class="stats">Health:</span>
                    </div>
                    <div>
                        <span class="damage">280</span>
                        <span class="health">350</span>
                    </div>
                </div>
                <span class="cost">Cost: 5</span>
                <span class="descrition">After being bombarded with a massive dose of gamma radiation while saving a young man's life during an experimental bomb testing, Dr. Robert Bruce Banner was transformed into the Incredible Hulk: a green behemoth who is the living personification of rage and pure physical strength.</span>
            </div>
            <div class="card">
                <img src="https://comicvine1.cbsistatic.com/uploads/scale_small/12/124259/7528057-rco003_1597860984.jpg">
                <span class="name">Silver Surfer</span>
                <div class="between">
                    <div>
                        <span class="stats">Damage:</span>
                        <span class="stats">Health:</span>
                    </div>
                    <div>
                        <span class="damage">300</span>
                        <span class="health">320</span>
                    </div>
                </div>
                <span class="cost">Cost: 5</span>
                <span class="descrition">Norrin Radd of Zenn-La is the mighty herald of Galactus, the devourer of worlds. Gifted with the Power Cosmic and a trusty board that's faster than lightspeed, which he can summon at will whenever needed, Norrin Radd travels to distant reaches throughout the universe as the Silver Surfer.</span>
            </div>
            <div class="card">
                <img src="https://comicvine1.cbsistatic.com/uploads/scale_small/5/57023/7391162-cap%20by%20alex%20ross.jpg">
                <span class="name">Captain America</span>
                <div class="between">
                    <div>
                        <span class="stats">Damage:</span>
                        <span class="stats">Health:</span>
                    </div>
                    <div>
                        <span class="damage">220</span>
                        <span class="health">220</span>
                    </div>
                </div>
                <span class="cost">Cost: 3</span>
                <span class="descrition">During World War II, Steve Rogers volunteered to receive the experimental Super-Soldier Serum. Enhanced to the pinnacle of human physical potential and armed with an unbreakable shield, he became Captain America. After a failed mission left him encased in ice for decades, he was found and revived by the Avengers, later joining their ranks and eventually becoming the team's leader.</span>
            </div>
            <div class="card">
                <img src="https://comicvine1.cbsistatic.com/uploads/scale_small/11141/111413247/7267709-e47c719d-a99f-46ef-9379-269760c8b548_rw_1200.jpg">
                <span class="name">Thing</span>
                <div class="between">
                    <div>
                        <span class="stats">Damage:</span>
                        <span class="stats">Health:</span>
                    </div>
                    <div>
                        <span class="damage">260</span>
                        <span class="health">260</span>
                    </div>
                </div>
                <span class="cost">Cost: 2</span>
                <span class="descrition">Ben Grimm, better known as the Thing, is the original quintessential tough-guy of the Marvel Universe. But, because of his transformation, he's also the tragic member of the Fantastic Four. Ben was an ace test-pilot until exposure to intense cosmic radiation mutated him into a rock-skinned monster with immense superhuman strength. Ben's exterior is much harder than stone which gives him a rather gruff disposition; but deep down, he has a heart of gold.</span>
            </div>
            <div class="card">
                <img src="https://comicvine1.cbsistatic.com/uploads/scale_small/11124/111242198/4924976-miles_morales.jpg">
                <span class="name">Miles Morales</span>
                <div class="between">
                    <div>
                        <span class="stats">Damage:</span>
                        <span class="stats">Health:</span>
                    </div>
                    <div>
                        <span class="damage">190</span>
                        <span class="health">150</span>
                    </div>
                </div>
                <span class="cost">Cost: 1</span>
                <span class="descrition">Originally created in the Ultimate Universe, this version of Spider-Man is a 16 year old kid named Miles Morales from Brooklyn who takes on the Spider-Man identity after Peter Parker's death. Miles discovers spider powers of his own after he was bitten by a spider 11 months before Peter's death, and uses these powers to be the best superhero he can be. Currently, Miles lives in the main Marvel Universe and is a member of the Champions.</span>
            </div>
            <div class="card">
                <img src="https://comicvine1.cbsistatic.com/uploads/scale_small/3/31666/5011137-blap2016001-cov-d6d2a.jpg">
                <span class="name">Black Panther</span>
                <div class="between">
                    <div>
                        <span class="stats">Damage:</span>
                        <span class="stats">Health:</span>
                    </div>
                    <div>
                        <span class="damage">240</span>
                        <span class="health">200</span>
                    </div>
                </div>
                <span class="cost">Cost: 3</span>
                <span class="descrition">T'Challa is the Black Panther, king of Wakanda, one of the most technologically advanced nations on Earth. He is among the top intellects and martial artists of the world, a veteran Avenger, and a member of the Illuminati. Using his powers and abilities, he has pledged his fortune, powers, and life to the service of all mankind.</span>
            </div>
            <div class="card">
                <img src="https://comicvine1.cbsistatic.com/uploads/scale_small/3/31666/4479803-vision.jpg">
                <span class="name">Vision</span>
                <div class="between">
                    <div>
                        <span class="stats">Damage:</span>
                        <span class="stats">Health:</span>
                    </div>
                    <div>
                        <span class="damage">300</span>
                        <span class="health">200</span>
                    </div>
                </div>
                <span class="cost">Cost: 4</span>
                <span class="descrition">Vision is an artificial intelligence, a "synthezoid" created by the villain Ultron and an Avenger who possesses the power to alter his density at will. Having gained a modicum of humanity, Vision is always afraid he may one day lose touch with it.</span>
            </div>
            <div class="card">
                <img src="https://comicvine1.cbsistatic.com/uploads/scale_small/10/100647/6436227-x-men%20red%202.jpg">
                <span class="name"> Nightcrawler</span>
                <div class="between">
                    <div>
                        <span class="stats">Damage:</span>
                        <span class="stats">Health:</span>
                    </div>
                    <div>
                        <span class="damage">160</span>
                        <span class="health">160</span>
                    </div>
                </div>
                <span class="cost">Cost: 2</span>
                <span class="descrition">Kurt Wagner is a prominent member of the X-Men and former member and leader of Excalibur. He possessed the Neyaphemian ability of teleportation, as well as incredible agility, wall scaling and a prehensile tail. Nightcrawler is a devout Catholic, contrasting his demonic appearance. He is a highly skilled swordsmen and former circus acrobat.</span>
            </div>
            <div class="card">
                <img src="https://comicvine1.cbsistatic.com/uploads/scale_small/9/96747/6884361-inviswoman_cvr.jpg">
                <span class="name">Invisible Woman</span>
                <div class="between">
                    <div>
                        <span class="stats">Damage:</span>
                        <span class="stats">Health:</span>
                    </div>
                    <div>
                        <span class="damage">120</span>
                        <span class="health">170</span>
                    </div>
                </div>
                <span class="cost">Cost: 1</span>
                <span class="descrition">Susan Storm is a founding member of the Fantastic Four and later the Future Foundation. She is able to create invisible force fields of any shape she conceives and able to turn herself and anything she's in contact with invisible. Sue is the wife of Reed Richards and the mother of their children, Franklin and Valeria.</span>
            </div>
            <div class="card">
                <img src="https://comicvine1.cbsistatic.com/uploads/scale_small/12/124259/7825237-rco022_1614187008.jpg">
                <span class="name"> Black Cat</span>
                <div class="between">
                    <div>
                        <span class="stats">Damage:</span>
                        <span class="stats">Health:</span>
                    </div>
                    <div>
                        <span class="damage">110</span>
                        <span class="health">150</span>
                    </div>
                </div>
                <span class="cost">Cost: 2</span>
                <span class="descrition">Former cat burglar Felicia Hardy became a crime fighter when she became romantically attracted to and involved with Spider-Man. Felicia has the ability to instill "bad luck" around others - this comes in handy when fighting crime!</span>
            </div>
            <div class="card">
                <img src="https://comicvine1.cbsistatic.com/uploads/scale_small/11114/111141742/7786648-x-men_vol_5_18_black_history_month_variant_textless.jpg">
                <span class="name">Storm</span>
                <div class="between">
                    <div>
                        <span class="stats">Damage:</span>
                        <span class="stats">Health:</span>
                    </div>
                    <div>
                        <span class="damage">300</span>
                        <span class="health">180</span>
                    </div>
                </div>
                <span class="cost">Cost: 4</span>
                <span class="descrition">Gifted with the power to control the elemental forces and energies that govern the weather, ranging from the nervous system and elements present within living beings to planetary atmospheres and the depths of space, Ororo Munroe also known as Storm or The Hadari Yao is an Omega Level Mutant and Wakandan goddess, solidifying her place as one of the strongest members of the X-men and one of the most powerful beings on Earth.</span>
            </div>
            <div class="card">
                <img src="https://comicvine1.cbsistatic.com/uploads/scale_small/11130/111300304/5810917-image.jpeg">
                <span class="name">Colossus</span>
                <div class="between">
                    <div>
                        <span class="stats">Damage:</span>
                        <span class="stats">Health:</span>
                    </div>
                    <div>
                        <span class="damage">150</span>
                        <span class="health">280</span>
                    </div>
                </div>
                <span class="cost">Cost: 3</span>
                <span class="descrition">Piotr Rasputin is a Russian mutant who possesses the ability to transform his body into organic steel, giving him immense strength and durability. Colossus is among the physically strongest X-Men, and is a talented artist.</span>
            </div>
            <div class="card">
                <img src="https://comicvine1.cbsistatic.com/uploads/scale_small/2/28028/671140-the_color_of_cosmic.jpg">
                <span class="name">Captain Marvel</span>
                <div class="between">
                    <div>
                        <span class="stats">Damage:</span>
                        <span class="stats">Health:</span>
                    </div>
                    <div>
                        <span class="damage">320</span>
                        <span class="health">300</span>
                    </div>
                </div>
                <span class="cost">Cost: 5</span>
                <span class="descrition">A captain in the Kree militia, Mar-Vell rebelled against a racist tyrannical empire to defend Earth and in so doing became the "Protector of the Universe" known as Captain Marvel. Since his tragic death to cancer, Captain Marvel has inspired many superheroes and heroines and his legacy is still felt throughout the Marvel universe.</span>
            </div>
            <div class="card">
                <img src="https://comicvine1.cbsistatic.com/uploads/scale_small/1/14487/7835285-b7f54158-13c3-4646-bbee-033a765c570d.jpeg">
                <span class="name">Black Widow</span>
                <div class="between">
                    <div>
                        <span class="stats">Damage:</span>
                        <span class="stats">Health:</span>
                    </div>
                    <div>
                        <span class="damage">90</span>
                        <span class="health">120</span>
                    </div>
                </div>
                <span class="cost">Cost: 1</span>
                <span class="descrition">A former KGB agent Natasha Romanova, better known as Black Widow, is one of the best agents S.H.I.E.L.D. has ever had. She's a longtime member of the Avengers as well as the leader of the short-lived Los Angeles-based superhero team called the Champions.</span>
            </div>
            <div class="card">
                <img src="https://comicvine1.cbsistatic.com/uploads/scale_small/14/149570/4153676-ant-man-samnee-variant-a2299.jpg">
                <span class="name">Ant-Man</span>
                <div class="between">
                    <div>
                        <span class="stats">Damage:</span>
                        <span class="stats">Health:</span>
                    </div>
                    <div>
                        <span class="damage">240</span>
                        <span class="health">200</span>
                    </div>
                </div>
                <span class="cost">Cost: 3</span>
                <span class="descrition">Scott Lang is the second man to take up the mantle of Ant-Man. He has been a member of the Avengers and the Fantastic Four. He was notably killed during the events of Avengers: Disassembled and has struggled to get back on his feet ever since coming back from the dead.</span>
            </div>
        </div>
        <form action="index.php" method="post" class="back_form">
            <input type="submit" value="Back" name="moveto"></input>
        </form>
    </main>
</body>
</html>