<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
    <link rel="stylesheet" href="view/templates/styles/form_style.css">
</head>
<body>
    <main>
        <form action="index.php" method="post" class="logout_form">
            <span class="status"></span>
            <input type="submit" value="Card collection" name="moveto"></input>
            <input type="submit" value="Logout" name="logout"></input>
            <span class="msg_in"></span>
        </form>
    </main>
</body>
</html>